body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

/* Navbar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    background-color: rgba(232, 232, 232, 0.8);
    border-bottom: 1px solid;
    position: fixed;

    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.navbar .navbar-logo {
    font-size: 2rem;
    font-weight: 700;
    color: #000000;
    font-style: italic;
}

.navbar .navbar-logo span {
    color: var(--primary);
}

.navbar .navbar-nav a {
    color: #010101;
    display: inline-block;
    font-size: 1.3rem;
    margin: 0 0.8rem;
    padding: 0rem;
}

.navbar .navbar-nav a:hover {
    color: var(--bg);
}

.navbar .navbar-nav a::after {
    content: "";
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid var(--bg);
    transform: scaleX(0);
    transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
    transform: scaleX(0.5);
}

.navbar .nav .content .lgn {
    margin-top: 0rem;
    display: inline-block;
    padding: 0.5rem 1.5rem;
    font-size: 1.3rem;
    color: #ffffff;
    background-color: #0085FF;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.navbar .navbar-extra a {
    color: #010101;
    margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
    color: var(--primary);
}

#hamburger-menu {
    display: none;

}

/* Navbar Search Form */
.navbar .search-form {
    position: absolute;
    top: 100%;
    right: 7%;
    background-color: #fff;
    width: 30rem;
    height: 4rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.3s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.navbar .search-form.active {
    transform: scaleY(1);
}

.navbar .search-form input {
    height: 100%;
    width: 100%;
    font-size: 1.3rem;
    color: var(--primary);
    padding: 1rem;
    border: none;
    color: #000000;
    border-radius: 5px;

}

.navbar .search-form label {
    cursor: pointer;
    font-size: 2rem;
    margin-right: 1.5rem;
    color: var(--primary);
    border: none;
    color: #000000;
}


header {
    padding: 20px;
    margin-bottom: 100px;
}

footer {
    background-color: #0085FF;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}

.video-container {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

@media screen and (max-width: 1200px) {

    header {
        padding: 50px;
        margin-bottom: 80px;
    }

    footer {
        padding: 50px;
        margin-top: 80px;
    }
}

@media screen and (max-width: 768px) {

    header {
        padding: 50px;
        margin-bottom: 80px;
    }

    footer {
        padding: 50px;
        margin-top: 80px;
    }
}