:root {
    --primary: #010101;
    --bg: #ffffff;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--bg);
    color: #fff;
}


/* Navbar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    background-color: rgba(232, 232, 232, 0.8);
    border-bottom: 1px solid;
    position: fixed;

    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.navbar .navbar-logo {
    font-size: 2rem;
    font-weight: 700;
    color: #000000;
    font-style: italic;
}

.navbar .navbar-logo span {
    color: var(--primary);
}

.navbar .navbar-nav a {
    color: #010101;
    display: inline-block;
    font-size: 1.3rem;
    margin: 0 0.8rem;
    padding: 0rem;
}

.navbar .navbar-nav a:hover {
    color: var(--bg);
}

.navbar .navbar-nav a::after {
    content: "";
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid var(--bg);
    transform: scaleX(0);
    transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
    transform: scaleX(0.5);
}

.navbar .nav .content .lgn {
    margin-top: 0rem;
    display: inline-block;
    padding: 0.5rem 1.5rem;
    font-size: 1.3rem;
    color: #ffffff;
    background-color: #0085FF;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.navbar .navbar-extra a {
    color: #010101;
    margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
    color: var(--primary);
}

#hamburger-menu {
    display: none;

}

/* Navbar Search Form */
.navbar .search-form {
    position: absolute;
    top: 100%;
    right: 7%;
    background-color: #fff;
    width: 30rem;
    height: 4rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.3s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.navbar .search-form.active {
    transform: scaleY(1);
}

.navbar .search-form input {
    height: 100%;
    width: 100%;
    font-size: 1.3rem;
    color: var(--primary);
    padding: 1rem;
    border: none;
    color: #000000;
    border-radius: 5px;

}

.navbar .search-form label {
    cursor: pointer;
    font-size: 2rem;
    margin-right: 1.5rem;
    color: var(--primary);
    border: none;
    color: #000000;
}


/* Navbar end */

/* Header dan Body */

@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --html-color: #0085FF;
    --css-color: #0085FF;
    --js-color: #0085FF;
    --jav-color: #0085FF;
    --light: white;
    --light-grey: rgba(255, 255, 255, 0.7);
    --dark: #050505;
    --header: #dbdbdb;
    --bg: #f0f0f0;
    --text: var(--dark);
    --text-hover: var(--text);
    --slide: cubic-bezier(0.59, 0.01, 0.48, 1);
    --mode-hover: #203297;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Muli", sans-serif;
    width: 100vw;
    background: var(--bg);
    overflow-x: hidden;
    transition: background 150ms;
}

section {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateX(150%);
    display: none;
}

.main-section {
    transform: translateX(0px);
    display: block;
}

.course-header {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--header);
    color: var(--text);
    transition: background 150ms, color 150ms;
}

.mode-switch {
    position: absolute;
    right: 40px;
    top: 30px;
    z-index: 900;
    color: var(--text);
    cursor: pointer;
    font-size: 26px;
    transition: color 150ms;
}

.mode-switch:hover {
    color: var(--mode-hover);
}

.courses {
    margin-top: 100px;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.course {
    margin-top: 2%;
    display: flex;
    width: 70%;
    max-width: 800px;
    height: 200px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
}

.course-info {
    width: 100%;
    height: 100%;
    color: var(--light);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 30px;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: width 550ms var(--slide);
}

.course.html .course-info {
    background: var(--html-color);
}

.course.css .course-info {
    background: var(--css-color);
}

.course.js .course-info {
    background: var(--js-color);
}

.course.jav .course-info {
    background: var(--jav-color);
}

.course:hover .course-info,
.course:focus-within .course-info {
    width: 35%;
}

.course-info span {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    color: var(--light-grey);
    margin-bottom: 12px;
}

.course-info h5 {
    font-size: 30px;
    font-weight: 700;
}

.course-info a {
    color: var(--light-grey);
    text-decoration: none;
    transition: 150ms color;
    position: absolute;
    bottom: 25px;
    left: 30px;
}

.course-more .chapters {
    color: var(--dark);
    text-decoration: none;
    transition: 150ms color;
    position: absolute;
    bottom: 25px;
    left: 30px;
    display: none;
}

.course-info a:hover {
    color: var(--light);
}

.course-info i {
    font-size: 14px;
}

.course-more {
    width: 65%;
    height: 100%;
    background: var(--light);
    color: var(--dark);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 30px;
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    z-index: 10;
    transform: translateX(100%);
    transition: transform 550ms var(--slide);
}

.course:hover .course-more,
.course:focus-within .course-more {
    transform: translateX(0);
}

.details {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.details>h5 {
    font-size: 13px;
    text-transform: uppercase;
}

.course.html .details>h5 {
    color: var(--html-color);
}

.course.css .details>h5 {
    color: var(--css-color);
}

.course.js .details>h5 {
    color: var(--js-color);
}

.course.jav .details>h5 {
    color: var(--jav-color);
}

.progress {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.progress-bar {
    border-radius: 8px;
    height: 6px;
    width: 200px;
    background: rgba(200, 200, 200, 0.8);
    position: relative;
}

.progress-bar span {
    height: 6px;
    position: absolute;
    border-radius: 8px;
    top: 0;
    left: 0;
    z-index: 1;
}

.course.html .progress-bar span {
    background: var(--html-color);
}

.course.css .progress-bar span {
    background: var(--css-color);
}

.course.js .progress-bar span {
    background: var(--js-color);
}

.course.jav .progress-bar span {
    background: var(--jav-color);
}

.progress-text {
    font-size: 12px;
    font-weight: 400;
    margin-top: 5px;
    color: var(--dark);
}

.name {
    font-size: 28px;
    margin-top: 4px;
}

.description {
    font-size: 20px;
    margin-top: 15px;
}

.time {
    opacity: 0.3;
    font-weight: 600;
}

.continue-btn,
.read-btn {
    align-self: flex-end;
    position: absolute;
    bottom: 20px;
    right: 30px;
    font-size: 15px;
    border-radius: 20px;
    padding: 8px 16px;
    color: var(--light);
    text-decoration: none;
    transition: opacity 150ms;
    cursor: pointer;
    border: none;
    outline: none;
}

/* Course 1 */
.course.html .continue-btn,
.course.html .read-btn {
    background: var(--html-color);
}

/* Course 2 */
.course.css .continue-btn,
.course.css .read-btn {
    background: var(--css-color);
}

/* Course 3 */
.course.js .continue-btn,
.course.js .read-btn {
    background: var(--js-color);
}

/* Course 4 */
.course.jav .continue-btn,
.course.course.jav .read-btn {
    background: var(--js-color);
}

.continue-btn:hover,
.read-btn:hover {
    opacity: 0.8;
}

.course .read-btn.mark {
    transform: translateX(-80px);
    background: #6ad474;
}

.course::before {
    content: "";
    position: absolute;
    top: 15px;
    right: 20px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #6ad474;
    z-index: 50;
    opacity: 0;
    transform: translateX(50px);
    transition: transform 200ms ease-in-out, opacity 200ms;
}

.course::after {
    content: "";
    position: absolute;
    top: 15px;
    right: 20px;
    width: 15px;
    height: 7px;
    border-left: 4px solid white;
    border-bottom: 4px solid white;
    z-index: 55;
    opacity: 0;
    transform: translate(35px, 8px) rotate(-45deg);
    transition: transform 200ms ease-in-out, opacity 200ms;
}

.course.checked::before {
    transform: translateX(0px);
    opacity: 1;
}

.course.checked::after {
    transform: translate(-5px, 8px) rotate(-45deg);
    opacity: 1;
}

.reference {
    width: 100%;
    text-align: center;
    padding: 10px;
    margin-top: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: var(--text);
}

.note {
    width: 100%;
    text-align: center;
    padding: 10px;
    margin-top: 15px;
    font-size: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: var(--text);
}

.reference a {
    color: #118ab2;
    text-decoration: none;
}

.back {
    margin-top: 100px;
    color: var(--text);
    position: absolute;
    top: 15px;
    left: 20px;
    cursor: pointer;
    transition: color 150ms;
}

.back:hover {
    color: var(--text-hover);
}



/* Laptop */
@media screen and (max-width: 1200px) {
    .course {
        width: 90%;
    }
}

/* Tablet */
@media screen and (max-width: 768px) {
    .course-more {
        width: 100%;
    }

    .course-more .chapters {
        display: block;
    }

    .course-info a {
        display: none;
    }

    .course:hover .course-info {
        width: 100%;
    }
}

.overlay {
    background: var(--header);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 900;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 500ms var(--slide);
    display: grid;
    place-items: center;
    padding: 20px;
}

.overlay-message {
    font-size: 30px;
    font-weight: 600;
    opacity: 0;
    color: var(--text);
    transition: opacity 250ms;
    text-align: center;
}

/* Footer */

footer {
    margin-top: 20px;
    background-color: #0085FF;
    text-align: center;
    padding: 1rem 0 3rem;
}

footer .socials {
    padding: 1rem 0;
}

footer .socials a {
    color: #fff;
    margin: 1rem;

}

footer .socials a:hover,
footer .links a:hover {
    color: var(--bg);
}


footer .links {
    margin-bottom: 1.4rem;
}

footer .links a {
    color: #fff;
    padding: 0.7rem 1rem;
}

footer .credit {
    font-size: 1rem;

}

footer .credit a {
    color: #000000;
    font-weight: 700;
}