:root {
    --primary: #010101;
    --bg: #564e4e;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    height: 100%;
}

/* Navbar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    background-color: rgba(232, 232, 232, 0.8);
    border-bottom: 1px solid;
    position: fixed;

    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.navbar .navbar-logo {
    font-size: 2rem;
    font-weight: 700;
    color: #000000;
    font-style: italic;
}

.navbar .navbar-logo span {
    color: var(--primary);
}

.navbar .navbar-nav a {
    color: #010101;
    display: inline-block;
    font-size: 1.3rem;
    margin: 0 0.8rem;
    padding: 0rem;
}

.navbar .navbar-nav a:hover {
    color: var(--bg);
}

.navbar .navbar-nav a::after {
    content: "";
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid var(--bg);
    transform: scaleX(0);
    transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
    transform: scaleX(0.5);
}

.navbar .nav .content .lgn {
    margin-top: 0rem;
    display: inline-block;
    padding: 0.5rem 1.5rem;
    font-size: 1.3rem;
    color: #ffffff;
    background-color: #0085FF;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.navbar .navbar-extra a {
    color: #010101;
    margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
    color: var(--primary);
}

#hamburger-menu {
    display: none;

}

/* Navbar Search Form */
.navbar .search-form {
    position: absolute;
    top: 100%;
    right: 7%;
    background-color: #fff;
    width: 30rem;
    height: 4rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.3s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.navbar .search-form.active {
    transform: scaleY(1);
}

.navbar .search-form input {
    height: 100%;
    width: 100%;
    font-size: 1.3rem;
    color: var(--primary);
    padding: 1rem;
    border: none;
    color: #000000;
    border-radius: 5px;

}

.navbar .search-form label {
    cursor: pointer;
    font-size: 2rem;
    margin-right: 1.5rem;
    color: var(--primary);
    border: none;
    color: #000000;
}


/* half background */

.half-background {
    position: absolute;
    width: 100%;
    /* Setengah lebar halaman */
    height: 40%;
    background-color: #0085FF;
    /* Warna latar belakang */
}

.content {
    position: relative;
    z-index: 1;
    /* Agar konten tetap di atas latar belakang */
    padding-top: 150px;
    margin-left: 30px;
    text-align: center;
    /* Untuk menempatkan konten di samping latar belakang */
    box-sizing: border-box;
    color: #fff;
}

.content h1 {
    font-size: 30px;
    text-shadow: rgba(0, 0, 0, 0.5);
}

.content p {
    font-size: 20px;
    text-shadow: rgba(1, 1, 1, 0.5);
}

/* Product */

.products {
    margin-top: 120px;
    padding-left: 10%;
    background-color: #ffffff;


}

.products h2 {
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: 3rem;

}

.products h2 span {
    color: var(--primary)
}


/* Hero section */

.products .row {
    display: inline-flex;
    justify-content: center;
    padding: 10px
}

.products .product-card {

    border: 1px solid #f8f8f8;
    border-radius: 10px;
    text-align: center;
    width: 300px;
    padding: 1rem;
    background-color: #0a95f2;
    text-shadow: rgba(1, 0, 1, 1.5);

}

.products .product-card:hover {
    background-color: #b6afaf;

}

.products .product-icons {
    justify-content: center;
    gap: 0.5rem;
    color: #ffffff;
}

.products .product-icons a {
    width: 4rem;
    height: 4rem;
    color: #fff7f7;
    margin: 0.3rem;
    border: 1px solid #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.products .product-icons a:hover {
    background-color: #000000;
}


.products .product-content h3 {
    font-size: 1.9rem;
    color: #f1f1f1;
}

.products .product-stars {
    font-size: 1.7rem;
    padding: 2rem;
    color: #ffe600;

}

.products .product-stars .star-full {
    fill: #ffe600;
}

.products .product-price {
    font-size: 1.3rem;
    font-weight: bold;
    color: #fff;

}

.products .product-price span {
    text-decoration: line-through;
    font-weight: lighter;
    font-size: 1rem;

}

/* Footer */
footer {
    background-color: #0085FF;
    text-align: center;
    padding: 1rem 0 3rem;
}

footer .socials {
    padding: 1rem 0;
}

footer .socials a {
    color: #fff;
    margin: 1rem;

}

footer .socials a:hover,
footer .links a:hover {
    color: var(--bg);
}


footer .links {
    margin-bottom: 1.4rem;
}

footer .links a {
    color: #fff;
    padding: 0.7rem 1rem;
}

footer .credit {
    font-size: 1rem;

}

footer .credit a {
    color: #000000;
    font-weight: 700;
}


/* Media Queries */

/* Laptop */
@media (max-width: 1200px) {
    html {
        font-size: 60%;

    }


    .products {
        margin-top: 120px;
        padding-left: 5%;
        background-color: #ffffff;


    }

    .products .product-card {

        border: 1px solid #000000;
        border-radius: 10px;
        text-align: center;
        width: 200px;
        padding: 1rem;
        background-color: #0085FF;
        margin: 10px;
        text-shadow: rgba(0, 0, 0, 0.5);

    }

    footer .socials {
        padding: 4rem;
    }



}

/* Tablet */
@media (max-width: 768px) {
    html {
        font-size: 62.5%;
    }

    #hamburger-menu {
        display: inline-block;
    }

    .navbar .navbar-nav {
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: #000000;
        width: 20rem;
        height: 100vh;

        transition: 0.3s;
    }

    .navbar .navbar-nav.active {
        right: 0;
    }

    .navbar .navbar-nav a {
        color: var(--bg);
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
        font-size: 2rem;
    }

    .navbar .navbar-nav a::after {
        transform-origin: 0 0;
    }

    .navbar .navbar-nav a:hover::after {
        transform: scaleX(0.2);
    }

    .navbar .search-form {
        width: 90%;
        right: 2rem;
    }

    footer .socials {
        padding: 1rem 0;
    }


}